<section id="public-recipes-list">
  <h1> Public recipes </h1>

  <% @recipes.includes(:user).each do |recipe| %>
    <%= link_to user_recipe_url(recipe.user, recipe), :action => 'go', class: "public-link" do %>
      <div class="public-recipe">
        <div class="public-recipe-section"> 
          <p class="public-recipe-section__title"> <%= recipe.name %> </p>
          <p class="public-recipe-section__username"> By <%= recipe.user.name %> </p>
        </div>
        <div class="public-recipe-section">
          <p class="public-recipe-section__items"> Total food items: <span> <%= recipe.recipe_foods.count %> </span></p>
          <p class="public-recipe-section__price"> Total price: <span> $<%= recipe.total_price %> </span></p>
        </div>
      </div>
    <% end %>
  <% end %>
</section>