<section id="public-recipes-list">
  <div class="recipe-details">
    <h1> <%= @recipe.name %> </h1>
    <p> Preparation time: <span> <%= @recipe.preparation_time %> </span>minute(s)</p>
    <p> Cooking time: <span> <%= @recipe.cooking_time %> </span>minute(s)</p>
    <p> <%= @recipe.description %> </p>
  </div>

  <div>
    <%= link_to "Generate shopping list", general_shopping_list_path, class: "login-button" %>
    <% if can? :modify, @recipe %>
      <%= link_to "Add ingredient", new_user_recipe_recipe_food_url(current_user, @recipe), class: "login-button" %>
      <%= link_to 'Edit recipe', edit_user_recipe_url, class: "login-button" %>
    <% end %>
  </div>

  <hr>

  <% if @recipe.recipe_foods.count < 1 %>
    <p> The ingredient list is empty. </p>
  <% else %>
    <table class="table">
      <tr class="table-title">
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
        <% if can? :modify, @recipe %>
          <th>Actions</th>
        <% end %>
      </tr>
        <% @ingredients.includes(:food).each do |ingredient| %>
          <tr>
            <td> <%= ingredient.food.name %></td>
            <td> <%= ingredient.quantity %> </td>
            <td> <%= ingredient.total_price %> </td>
            <% if can? :modify, @recipe %>
              <td> <%= button_to 'Delete', user_recipe_recipe_food_path(current_user, @recipe, ingredient), method: :delete, class: 'login-button remove' %> </td>
            <% end %>
          </tr>
        <% end %>
    </table>
  <% end %>
</section>
