<section id="public-recipes-list">
  <p style="color: green"><%= notice %></p>

  <div>
    <h1> <%= @recipe.name %> </h1>
    <p> Preparation time: <%= @recipe.preparation_time %> minute(s). </p>
    <p> Cooking time: <%= @recipe.cooking_time %> minute(s). </p>
    <p> <%= @recipe.description %> </p>
  </div>

  <div>
    <%= link_to "Generate shopping list", general_shopping_list_path %>
    <% if can? :modify, @recipe %>
      <%= link_to "Add ingredient", new_user_recipe_recipe_food_url(current_user, @recipe) %>
      <%= link_to 'Edit recipe', edit_user_recipe_url %>
    <% end %>
  </div>

  <table class="ingredients-list">
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
        <% if can? :modify, @recipe %>
          <th>Actions</th>
        <% end %>
      </tr>
        <% @ingredients.includes(:food).each do |ingredient| %>
          <tr>
            <td> <%= ingredient.food.name %></td>
            <td> <%= ingredient.quantity %> </td>
            <td> <%= ingredient.total_price %> </td>
            <% if can? :modify, @recipe %>
              <td> <%= button_to 'Remove', user_recipe_recipe_food_path(current_user, @recipe, ingredient), method: :delete %> </td>
            <% end %>
          </tr>
        <% end %>
    </table>
  </section>
