<div class="login-container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <i class="fa-solid fa-envelope fa-lg"></i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@gmail.com", class: "input" %>
    </div>

    <div class="field">
    <i class="fa-solid fa-key fa-flip-horizontal fa-lg"></i>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field flex-start">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'login-button' %>
    </div>
  <% end %>

  <div class="login-container-links">
    <%= render "devise/shared/links" %>
  </div>
  
</div>
